Repository JuliaTesting/Aqua.jl, pull requests merged in 2023-10, with the labels that each got.

#211 Add CI job checking for bad PR labels
  .github/workflows/enforce-labels.yml
Labels: no changelog, ci

#217 Fix typo in unbound_args.jl
  src/unbound_args.jl
Labels: no changelog

#128 Update logo
  CHANGELOG.md
  Makefile
  badge.svg
  docs/make.jl
  docs/src/assets/favicon.ico
  docs/src/assets/logo.svg
Labels: docs

#200 Add option to `test_deps_compat` to test extras and weakdeps
  CHANGELOG.md
  src/deps_compat.jl
  test/test_smoke.jl
Labels: enhancement, test: deps compat

#221 Drop support for julia 1.0-1.3
  .github/workflows/test.yml
  CHANGELOG.md
  Project.toml
  src/Aqua.jl
  src/pkg/LICENSE.md
  src/pkg/Versions.jl
  src/utils.jl
  test/pkgs/PkgWithAmbiguities.jl
  test/test_ambiguities.jl
  test/test_project_toml_formatting.jl
  test/test_smoke.jl
Labels: BREAKING

#202 Change defaults for `check_extras` and `check_weakdeps`
  CHANGELOG.md
  src/deps_compat.jl
  test/test_smoke.jl
Labels: test: deps compat, BREAKING

#215 Remove special handling of stdlibs in `test_deps_compat`
  CHANGELOG.md
  src/deps_compat.jl
  src/utils.jl
  test/test_deps_compat.jl
  test/test_smoke.jl
Labels: test: deps compat, BREAKING

#174 Add persistent_tasks test
  CHANGELOG.md
  docs/src/index.md
  src/Aqua.jl
  src/persistent_tasks.jl
  test/pkgs/PersistentTasks/PersistentTask/Project.toml
  test/pkgs/PersistentTasks/PersistentTask/src/PersistentTask.jl
  test/pkgs/PersistentTasks/TransientTask/Project.toml
  test/pkgs/PersistentTasks/TransientTask/src/TransientTask.jl
  test/pkgs/PersistentTasks/UsesBoth/Project.toml
  test/pkgs/PersistentTasks/UsesBoth/src/UsesBoth.jl
  test/test_persistent_tasks.jl
  test/test_smoke.jl
Labels: enhancement, new test, BREAKING

#222 Cancel in progress CI jobs for PRs
  .github/workflows/docs.yml
  .github/workflows/test.yml
Labels: no changelog, ci

#209 Remove test_project_toml_formatting
  CHANGELOG.md
  README.md
  docs/src/index.md
  src/Aqua.jl
  src/project_toml_formatting.jl
  src/utils.jl
  test/test_project_toml_formatting.jl
  test/test_smoke.jl
  test/test_utils.jl
Labels: test: project toml formatting, BREAKING

#204 Enhance `test_ambiguities`' exclude options for functions with kwargs
  CHANGELOG.md
  src/ambiguities.jl
  test/pkgs/PkgWithAmbiguities.jl
  test/test_ambiguities.jl
Labels: test: ambiguities

#230 Rename `test_piracy` to `test_piracies`
  CHANGELOG.md
  docs/src/index.md
  src/Aqua.jl
  src/piracies.jl
  test/test_smoke.jl
Labels: test: piracy, BREAKING
