Repository JuliaTesting/Aqua.jl, pull requests merged in 2023-11, with the labels that each got.

#233 Sort ambiguities and type piracies by function name
  CHANGELOG.md
  src/ambiguities.jl
  src/piracies.jl
Labels: enhancement, test: piracy, test: ambiguities

#236 Require `[compat]` entry for `julia`
  CHANGELOG.md
  src/deps_compat.jl
  test/test_deps_compat.jl
Labels: enhancement, test: deps compat, BREAKING

#223 Release version 0.8.0
  CHANGELOG.md
  Project.toml
  README.md
  docs/src/index.md
Labels: no changelog

#239 Add `find_persistent_task_deps` to doc build
  docs/src/index.md
  src/persistent_tasks.jl
Labels: enhancement, no changelog, docs, test: persistent tasks

#241 Fix environments in `test_persistent_tasks` (part 2)
  CHANGELOG.md
  Project.toml
  src/persistent_tasks.jl
Labels: bug, test: persistent tasks

#242 Fix changelog typo
  CHANGELOG.md
Labels: no changelog

#243 Increase CI timeout
  .github/workflows/test.yml
Labels: no changelog, ci

#245 Fix typos in CHANGELOG.md
  CHANGELOG.md
Labels: no changelog

#244 Fix some issue reported by JET
  src/Aqua.jl
  src/ambiguities.jl
  src/deps_compat.jl
  src/pkg/Versions.jl
  src/stale_deps.jl
Labels: no changelog

#246 Add CleanupDocPreview CI action
  .github/workflows/CleanupDocPreview.yml
Labels: no changelog, docs, ci

#248 Update doc preview cleanup CI job
  .github/workflows/DocPreviewCleanup.yml
Labels: no changelog, docs, ci

#256 persistent_tasks: suppress logs from Pkg.jl
  CHANGELOG.md
  Project.toml
  src/persistent_tasks.jl
Labels: test: persistent tasks

#250 Overhaul documentation
  CHANGELOG.md
  docs/make.jl
  docs/src/ambiguities.md
  docs/src/deps_compat.md
  docs/src/exports.md
  docs/src/index.md
  docs/src/persistent_tasks.md
  docs/src/piracies.md
  docs/src/project_extras.md
  docs/src/stale_deps.md
  docs/src/test_all.md
  docs/src/unbound_args.md
  src/Aqua.jl
  src/ambiguities.jl
  src/exports.jl
  src/persistent_tasks.jl
  src/piracies.jl
  src/unbound_args.jl
Labels: docs
