Repository JuliaTesting/Aqua.jl, pull requests merged in 2024-04, with the labels that each got.

#276 Update TagBot config
  .github/workflows/TagBot.yml
Labels: ci

#277 Use Changelog.jl for changelog maintenance
  .gitignore
  CHANGELOG.md
  Makefile
  docs/Project.toml
  docs/changelog.jl
  docs/instantiate.jl
  docs/make.jl
Labels: docs

#278 Add windows/macOS testing on julia pre-releases
  .github/workflows/test.yml
Labels: ci

#279 Fix doc project instantiation
  CHANGELOG.md
  docs/instantiate.jl
Labels: docs

#272 Make broken tests less noisy
  CHANGELOG.md
  src/ambiguities.jl
  src/exports.jl
  src/piracies.jl
  src/unbound_args.jl
Labels: test: piracy, test: ambiguities, test: unbound args, test: undefined exports

#280 Set version to 0.8.5
  CHANGELOG.md
  Project.toml
Labels: release

#281 Adapt test_ambiguities printing
  CHANGELOG.md
  src/ambiguities.jl
  test/test_ambiguities.jl
Labels: test: ambiguities

#283 Fix failing persistent task example in doc
  docs/src/persistent_tasks.md
Labels: docs, test: persistent tasks

#284 Add disclaimer to scary-looking output during testing
  test/test_unbound_args.jl
  test/test_undefined_exports.jl
Labels: no changelog

#285 Add kwarg `succeed_on_precompilable_error`
  CHANGELOG.md
  src/persistent_tasks.jl
  test/pkgs/PersistentTasks/PrecompilableErrorPkg/Project.toml
  test/pkgs/PersistentTasks/PrecompilableErrorPkg/src/PrecompilableErrorPkg.jl
  test/test_persistent_tasks.jl
Labels: enhancement, test: persistent tasks

#286 Set version to 0.8.6
  CHANGELOG.md
  Project.toml
Labels: release

#288 Revert "Add kwarg `succeed_on_precompilable_error`"
  CHANGELOG.md
  src/persistent_tasks.jl
  test/pkgs/PersistentTasks/PrecompilableErrorPkg/Project.toml
  test/pkgs/PersistentTasks/PrecompilableErrorPkg/src/PrecompilableErrorPkg.jl
  test/test_persistent_tasks.jl
Labels: test: persistent tasks

#289 Set version to 0.8.7
  CHANGELOG.md
  Project.toml
Labels: release
