Repository JuliaTesting/Aqua.jl, pull requests merged in 2024-03, with the labels that each got.

#267 Add CI on julia 1.11-nightly
  .github/workflows/test.yml
Labels: ci

#266 Update stale deps stdlibs known bug warning
  src/stale_deps.jl
Labels: test: stale deps

#271 Add note to `test_persistent_tasks` for unregistered deps
  src/persistent_tasks.jl
Labels: no changelog, docs, test: persistent tasks
